

{% extends "base.hbs" %}
{% block title %}{{module_data['name']}}{% end %}
{% block head %}
  <meta name="description" content="{{module_data['description']}}">
  <meta name="keywords" content="{{ ', '.join(module_data.get('tags', [])) }}">
  <meta name="robots" content="index,follow">
  <meta name="author" content="MLAB team <info@mlab.cz>">
  <link rel="canonical" href="https://www.mlab.cz/module/{{module_data['name']}}/">
  <meta name="thumbnail" content="{{module_data['github_raw']}}/{{module_data['image_title']}}" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Product",

      "description": "{{module_data['description']}}",
      "name": "{{module_data['name']}}",
      "image": "{{module_data['github_raw']}}/{{module_data['image_title']}}",
      "brand": "MLAB.cz",
      "manufacturer": "www.ust.cz",
      "url": "https://www.mlab.cz/module/{{module_data['name']}}/"
    }
    </script>

{% end %}
{% block content %}


<style type="text/css">
  .card{
    margin-bottom: 15px;
  }
  .card-gallery{

    margin: 0px;
    padding: 0px;
  }

  .markdown{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
  }

  .markdown img{
    max-width: 100%;
  }

  .markdown h1,  .markdown h2, .markdown h3 {
    margin-top: 24px;
    margin-bottom: 16px;
    border-bottom: 1px solid lightgray;
    font-weight: 600;
  }

  .markdown table th, .markdown table td{
      padding: 6px 13px;
      border: 1px solid lightgray;
  }

  .markdown table th{
    font-weight: 600;
  }

  .markdown tr:nth-child(even) {background-color: #f6f3f3;} 
  .markdown tr:hover {background-color: rgb(229, 229, 229);}

  .markdown  blockquote {
    margin: 0 0 1rem;
    border-left: lightgray 5px solid;
    padding-left: 5px;
  }



</style>

<script type="text/javascript">


//require('ekko-lightbox');
$(document).ready(function() {
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
  });
});


</script>


{% for cat in module_data.get('category[]', []) %}

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="/modules/{{cat}}/">{{cat}}</a>
  <span class="breadcrumb-item active">{{module_data['name']}}</span>
</nav>
{% end %}


<div class="container">

{% if module_data.get('replaced', None) %}

  <div class="alert alert-warning" role="alert">
  <h4 class="alert-heading"><i class="bi bi-info-circle"></i> Module <b>{{module_data['name']}}</b> was replaced.</h4>
  <p>Module {{module_data['name']}} was replaced by newer version. Look at <b><a href="/module/{{module_data['replaced']}}/">{{module_data['replaced']}}</a></b>.</p>
</div>

{%end%}

<div class="row">
  <div class="col-sm-6">
    <div class="card">

      {% if module_data.get('image_title') %}
        <img class="card-img-top" src="/static/noimage.png" data-src="{{module_data['github_raw']}}/{{module_data['image_title']}}" alt="Module">
      {% else %}
      <img class="card-img-top" src="/static/noimage.png" alt="Module">
      {% end %}

      <div class="status status-{{module_data['status']}}"></div>

      <div class="card-block" style="padding: 10pt;">

            <div style="margin-bottom: 8pt;">{% for tag in module_data.get('tags', []) %}
              <span class="badge bg-pill bg-success">{{tag}}</span>
            {%end%}</div>
        <h2 class="card-title">{{module_data['name']}}</h2>
        <h4 class="card-subtitle mb-2 text-muted">{{module_data.get('description')}}</h4>

        <p class="text-muted mt-2 mb-0">
          {%for branch in module_data.get('github_branches', []) %} 
            {%if branch == module_data.get("github_branch", '') %}<b>{%end%}
              <a href="{{module_data.get('github_url')}}/tree/{{branch}}/"  target="_blank">{{branch}}</a>
            {%if branch == module_data.get("github_branch", '') %}</b>{%end%}
          {%end%}
        </p>


      </div>
      <div class="card-block" style="padding: 10pt;border-top: 1px solid rgba(0,0,0,.125);">

        <a href="{{module_data.get('github_url')}}" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>

        {% if module_data.get('wiki', None) != None and str(module_data.get('wiki', '')) != 'None'%} <a href="{{module_data.get('wiki', '')}}" target="_blank"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a> {% end %}
        {% if module_data.get('ust', None) != None and str(module_data.get('ust', '')) != 'None'%} <a href="{{module_data.get('ust', '')}}" target="_blank"><i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i></a> {% end %}
        
        {% if module_data.get('mod_scheme', None) != None and str(module_data.get('mod_scheme', '')) != 'None'%} <a href="{{module_data['github_raw']}}{{module_data.get('mod_scheme', '')}}" target="_blank"><i class="fa fa-map-o fa-2x" aria-hidden="true"></i></a> {% end %}
        {% if module_data.get('mod_ibom', None) != None and str(module_data.get('mod_ibom', '')) != 'None'%} <a href="./ibom"><i class="fa fa-list-alt fa-2x" aria-hidden="true" target="_blank"></i></a> {% end %}
        {% if module_data.get('tindie_url', None) != None and str(module_data.get('tindie_url', '')) != 'None'%} <a href="{{module_data.get('tindie_url', '')}}" target="_blank"><i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i></a> {% end %}

      </div>
      <div class="card-blok text-muted small" style="padding: 10pt;border-top: 1px solid rgba(0,0,0,.125);">
          This is an <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://en.wikipedia.org/wiki/Open-source_hardware">open-source hardware</a> design, one of the modules from the <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.mlab.cz/">MLAB</a> labolatory system.
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card"  style="border-color: #fff;">
  
      <div class="card-block card-gallery">
        {% if len(module_data.get('parameters', [])) > 0 %}
        <table style="width: 100%;" class="table-responsive table-condensed table-bordered table-hover">
          <thead>
            <th>Parametr</th>
            <th>Hodnota</th>
            <th>Popis</th>
          </thead><tbody>
        {% for param in module_data.get('parameters',[]) %}
            <tr>
              <td>{{param['name']}}</td>
              <td>{{param['value']}} {{param['unit']}}</td>
              <td>{{param.get('description_cs', '')}}</td>
            </tr>
        {% end %}
        </tbody><tfoot><tr></tr></tfoot>
        </table><br>
        {% end %}
          <div class="">
          {% for i in module_data.get('images', []) %}
              <a href="{{module_data['github_raw']}}{{i}}" data-toggle="lightbox" data-gallery="example-gallery" style="padding-right: 4px; margin-top: 10pt">
                  <img src="{{module_data['github_raw']}}{{i}}" class="img-thumbnail rounded" style="padding: 0pt; width: calc(33% - 5px);">
              </a>
          {% end %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
      <div class="card">  <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-toggle="tab" data-bs-toggle="tab" data-bs-target="#description" role="tab">Description</a>
        </li>
        {#-- <li class="nav-item" role="presentation">
          <a class="nav-link" data-toggle="tab" data-bs-toggle="tab" data-bs-target="#download" role="tab" distabled>Download</a>
        </li> #}
      </ul>
    </div>
      <div class="card-block tab-content markdown">
        <div class="tab-pane fade show active" id="description" role="tabpanel" style="padding: 32px;">
          {%raw readme_html %}
        </div>
        <div class="tab-pane fade" id="download" role="tabpanel" style="padding: 32px;">
            {% for documet in documents %}
              <li><a href="{{ assembly_gh_link(module_data) }}/{{documet[19:]}}">{{documet[19:]}}</a></li>
            {% end %}
        </div>
      </div>
    </div>
  </div>

</div>
</div> <!-- containte -->




{% end %}
