
{% extends "base.hbs" %}
{% block content %}
{% import os %}
<style type="text/css">
	
	.container{
		min-width: 100%;
	}

	input[type='checkbox']{
		background-color: red;
	}

	th{
		padding-left: 0px;
		padding-right: 15px;
	}

	.image_list{
		width: 300pt;
		overflow: scroll;
		display: inline-flex;
	}

	.limsize {
		max-width: 300pt;
	}

</style>
	
	<table class="table table-striped table-hover table-sm">
		<tr><th>#</th>
		<th>Name</th>
		<th>Branches</th>
		<th>Tags</th>
		<th>Contributors</th>
		<th>Title image</th>
		<th>Images</th>
		<th>Resources</th>
		<th>Description</th>
		<th>Main Conten (size)</th>
		<th>Status</th>
		<th>Mark</th></tr>

	{%for i, module in enumerate(modules)%}

		{% if i % 31 ==0 %}

		{% end %}

		<tr>
			{# {{module}}
			<hr> #}
			{% try %}
				{# <div class="module">{{module['name']}}{{module}} </div> #}
				<td class="status-{{module['status']}}">{{i}}</td>
				
				<td>
					<b><a href="/module/{{module['name']}}/">{{module['name']}}</a></b> <br>
					<a href="{{module.get('github_url')}}">GH</a> <a href="{{module.get('github_url')}}/edit/{{module.get('github_branch','master')}}/doc/metadata.yaml">Edit</a> </td>
				
				<td class="limsize"><small>{{', '.join(module.get('github_branches', []))}}</small></td>
				
				<td class="limsize">{% for el in module.get('tags', []) %} <span class="badge bg-pill bg-success">{{el}}</span> {%end%}</td>
				
				<td>{% for el in module.get('contributors', []) %} {{el}} {%end%}</td>

				<td>
					<img src="{{module['github_raw']}}/{{module.get('image_title')}}" style="height:80pt; max-width:100pt;"></img>
				</td>

				<td><div class="image_list">
					{% for image in module.get('images') %}
					<img src="{{module['github_raw']}}/{{image}}" style="height:80pt;" ></img>
					{%end%}
				</div></td>
				
				<td>
					{% if len(module.get('wiki', " ")) > 10 %} <a href="{{module['wiki']}}"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a>{%end%}
					{% if len(module.get('tindie_url', "")) > 10 %} <a href="{{module['tindie_url']}}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>{%end%}

					{% if module.get('mod_scheme', None) != None and str(module.get('mod_scheme', '')) != 'None'%} <a href="{{module['github_raw']}}{{module.get('mod_scheme', '')}}" target="_blank"><i class="fa fa-map-o" aria-hidden="true"></i></a> {% end %}
					{% if module.get('mod_ibom', None) != None and str(module.get('mod_ibom', '')) != 'None'%} <a href="/module/{{module['name']}}/ibom"><i class="fa fa-list-alt" aria-hidden="true" target="_blank"></i></a> {% end %}
				</td>

				<td class="{%if not module.get('description')%}bg-danger{%elif len(module.get('description', " ")) < 100 %}bg-warning{%else%}bg-success{%end%}"><b> {%if module.get('description') %} {{len(module.get('description', " "))}}</b> -<span class="small"> {{module.get('description', '')}}  {%end%}</span></td>
				<td class="{%if not os.path.exists(module.get('file_readme', ''))%}bg-danger{%elif (os.stat(module.get('file_readme', '')).st_size/1024)<1%}bg-warning{%else%}bg-success{%end%}"> {%if os.path.exists(module.get('file_readme', ''))%}{{ "{:.3f} Kb".format(os.stat(module.get('file_readme')).st_size/1024) }}{%else%} NOT exist {%end%} </td>

				<td>{{module['mark']}}</td>
			{% except Exception as e %}
				Err {{e}}
			{% end %}
		</tr>
	{% end %}

	</table>



{% end %}

